<launch>

  <node name="meta_planner"
        pkg="meta_planner"
        type="meta_planner_node"
        output="screen">

	<!--Demo parameters -->
	<rosparam file="$(find meta_planner)/config/meta_planner.yaml"/>
  </node>

  <node name="demo"
        pkg="meta_planner"
        type="demo_node"
        output="screen">

	<!--Demo parameters -->
	<rosparam file="$(find meta_planner)/config/meta_planner.yaml"/>
  </node>

</launch>
