<launch>

  <!-- Top level arguments. -->
  <arg name="fixed_frame" default="fixed" />
  <arg name="robot_frame" default="tracker" />
  <arg name="planner_frame" default="planner" />

  <arg name="dubins_state_topic" default="/state/dubins" />
  <arg name="position_state_topic" default="/state/position" />

  <arg name="reference_state_topic" default="/ref/planner" />
  <arg name="lqr_control_topic" default="/control/lqr" />
  <arg name="merged_control_topic" default="/control/merged" />

  <arg name="sensor_topic" default="/sensor" />

  <!-- All tracking-related nodes share a namespace so they can all
       see parameters loaded in the config file. -->
  <group ns="meta">
    <!-- Load parameters for the demo. -->
    <rosparam file="$(find meta_planner)/config/meta_planner.yaml" />

    <node name="tracker"
          pkg="meta_planner"
          type="tracker_node"
          output="screen">

      <param name="meta/frames/fixed" value="$(arg fixed_frame)" />
      <param name="meta/frames/robot" value="$(arg robot_frame)" />
      <param name="meta/frames/planner" value="$(arg planner_frame)" />

      <param name="meta/topics/reference" value="$(arg reference_state_topic)" /

      <param name="meta/topics/state" value="$(arg position_state_topic)" /
      <param name="meta/topics/merged_control" value="$(arg merged_control_topic)" />
      <param name="meta/topics/lqr_control" value="$(arg lqr_control_topic)" />
      <param name="meta/topics/sensor" value="$(arg sensor_topic)" />
    </node>

    <node name="sensor"
          pkg="meta_planner"
          type="sensor_node"
          output="screen">

      <param name="meta/frames/fixed" value="$(arg fixed_frame)" />
      <param name="meta/frames/robot" value="$(arg robot_frame)" />

      <param name="meta/topics/state" value="$(arg position_state_topic)" /
      <param name="meta/topics/sensor" value="$(arg sensor_topic)" />
    </node>
  </group>

  <!-- Crazyflie dynamics simulator. -->
  <node name="simulator"
        pkg="crazyflie_simulator"
        type="near_hover_simulator_node"
        output="screen">

    <param name="simulator/frames/fixed" value="$(arg fixed_frame)" />
    <param name="simulator/frames/robot" value="$(arg robot_frame)" />

    <param name="simulator/topics/merged_control" value="$(arg merged_control_topic)" />
  </node>

  <!-- State estimators. -->
  <node name="dubins_state_estimator"
        pkg="crazyflie_state_estimator"
        type="dubins_state_estimator_node"
        output="screen">

    <param name="estimator/frames/fixed" value="$(arg fixed_frame)" />
    <param name="estimator/frames/robot" value="$(arg robot_frame)" />

    <param name="estimator/topics/state" value="$(arg dubins_state_topic)" />
  </node>

  <node name="position_state_estimator"
        pkg="crazyflie_state_estimator"
        type="position_estimator_node"
        output="screen">

    <param name="estimator/frames/fixed" value="$(arg fixed_frame)" />
    <param name="estimator/frames/robot" value="$(arg robot_frame)" />

    <param name="estimator/topics/state" value="$(arg position_state_topic)" />
  </node>

  <!-- LQR controller. -->
  <node name="lqr_controller"
        pkg="crazyflie_lqr"
        type="dubins_state_lqr_node"
        output="screen">

    <param name="lqr/topics/reference" value="$(arg reference_state_topic)" />
    <param name="lqr/topics/state" value="$(arg dubins_state_topic)" />
    <param name="lqr/topics/lqr_control" value="$(arg lqr_control_topic)" />
  </node>

</launch>
